/* === Layout og Grid-områder === */
body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'header' 'profile' 'main' 'footer';
    grid-template-rows: 10em 12em auto auto;
    grid-template-columns: 1fr;
    background-color: white; /* Baggrundsfarve for hele body */

}

@media (min-width: 60em) {
    body {
        width: 100%;
        /*margin: 0 auto;*/
        grid-template-areas: 'header' 'profile' 'main' 'footer';
        grid-template-columns: auto;
        grid-template-rows: 10em 12em auto auto;
        background-color: white; /* Baggrundsfarve for hele body */

    }
}

/* === Sektion Styling === */
.header {
    grid-area: header;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 10px;
}

.profile {
    grid-area: profile;
    background-color: lightblue;
    display: flex;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 1em;
    padding: 1em;
}

.main {
    grid-area: main;
    background-color: blue /*rgba(175,209,205,255)*/;

}

.footer {
    grid-area: footer;
    background-color: lightblue;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    align-items: center;
    padding: 2em;
}

/* === Typografi === */
h1 {
    font-family: sans-serif;
    text-align: left;
    font-size: 70px;
}

h2 {
    font-family: "Century Gothic", serif;
    font-size: 35px;
}

h3 {
    margin-left: 5%;
    font-family: "Century Gothic", serif;
    font-size: 30px;
}

p {
    font-family: "Century Gothic", serif;
    font-size: 20px;
}

/* === Billede og Ikoner Styling === */
.profile-image {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
}

.brand-image {
    width: auto;
    max-height: 8em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.icon-image {
    width: auto;
    max-height: 5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: white;
}

.wishlist-image {
    max-height: 500px;
    padding: 5%;
    border-radius: 15%;
}

.login-image {
    max-height: 400px;
    object-fit: cover;
    /*padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;*/
}

/* === Tabel Styling === */
table {
    padding: 10px;
    margin-top: 1em;
    martin-bottom: 1em;
    margin-right: 5%;
    margin-left: 5%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 15px;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

th {
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

/* === Knapper === */
.visønskelistebutton {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.loginButton {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-family: "Century Gothic", serif;
    background-color: lightblue;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.createResetPasswordButton {
    padding: 5px 10px;
    font-size: 20px;
    font-family: "Century Gothic", serif;
    background-color: grey;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    margin: 10px;
}

/* === Links === */
.icon-link {
    text-decoration: none;
    border: none;
    outline: none;
    margin-right: 25px;
}

/* === Formular Felter === */
input[type="text"], input[type="password"], input[type="url"] {
    width: 200px;
    height: 23px;
    font-size: 20px;
    border: 1px solid black;
}


/* === Tekst og Container Styling === */
.teksttabel {
    font-size: 18px;
    font-family: sans-serif;
}

.usernamePasswordText {
    font-size: 20px;
    font-family: "Century Gothic", serif;
}

.loginBilledeContainer {
    display: flex;
    justify-content: center; /* Centrerer indholdet horisontalt */
    align-items: center; /* Centrerer indholdet vertikalt */
    margin: auto;
    padding: 5px;
}

.loginField {
    padding-right: 5%;
    padding-left: 5%;
    border: 2px solid black; /* Sort kant omkring loginField */
    border-radius: 15px; /* Rundede hjørner (valgfrit) */
}

button:hover {
    background-color: grey;
}