<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Wish</title>
    <link rel="stylesheet" href="/wishlist.css">
</head>
<body>
<header class="header">
    <div>
        <h1>Ønskesky Projekt</h1>
    </div>
    <div>
        <a th:href="@{/makemywishcometrue/homeView}" class="icon-link">
            <img src="/icons/home.jpg" alt="Home" class="icon-image">
        </a>
        <a th:href="@{/makemywishcometrue/homeView}" class="icon-link">
            <img src="/icons/logout.jpg" alt="Logout" class="icon-image">
        </a>
    </div>
</header>
<profile>
    <p>KAN PROFIL INDSÆTTES HER?</p>
</profile>
<main>

    <div class="loginBilledeContainer">
        <div class="loginField">
            <h2>Create a new wish</h2>
            <form th:action="@{/makemywishcometrue/{userID}/{wishListID}/saveWish(userID=${userID}, wishListID=${wishListID})}"
                  method="post">

                <!--skjult felt for at medsende userID ved save af formularen-->
                <input type="hidden" name="userID" th:value="${userID}">

                <label class="usernamePasswordText" for="wishName">Wish Name:</label>
                <input type="text" id="wishName" name="wishName" required>
                <br>
                <label class="usernamePasswordText" for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
                <br>
                <label class="usernamePasswordText" for="link">Link (optional):</label>
                <input type="text" id="link" name="link">
                <br>
                <label class="usernamePasswordText" for="price">Price:</label>
                <input type="text" id="price" name="price" required>
                <br>
                <button class="createResetPasswordButton" type="submit">Create wish</button>

            </form>
            <!--Nedenfor en tilbage knap som udgangspunkt til en homepage. -->
            <a th:href="@{/makemywishcometrue/{userID}/{wishListID}(userID=${userID}, wishListID=${wishListID})}">
                <button class="createResetPasswordButton" type="button">Back to Wishlist</button>
            </a>
        </div>
        <div>
            <img src="/images/makemywishcometrue.png" alt="Wishlist" class="wishlist-image">
        </div>
    </div>
</main>

<footer class="footer">
    <div>
        <p><Strong>Kontakt os her</Strong></p>
        <p>Email: <a href="#">teamMMMD@failmail.dk</a></p>
        <p>Mobil: <a href="#">+45 xxxxxxxx</a></p>
        <p>&copy; 2024 Ønskeskyprojekt -</p>
        <p>TeamMMMD (Mark, Martin, Mette, Daniel)</p>
    </div>
    <div class="brand-image-container">
        <img src="/images/adidas.webp" alt="adidas" class="brand-image">
        <img src="/images/lego.png" alt="lego" class="brand-image">
        <img src="/images/nike.jpg" alt="nike" class="brand-image">
        <img src="/images/victor.png" alt="victor" class="brand-image">
        <img src="/images/yonex.jpg" alt="yonex" class="brand-image">
        <img src="/images/lining.png" alt="yonex" class="brand-image">
    </div>
</footer>
</body>
</html>