<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org">
<!--her angives at vi arbejder med thymeleaf og prefix th skal anvendes, når der skal kaldes attributter-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/wishlist.css">
</head>
<body>
<header class="header">
    <div>
        <h1>Ønskesky Projekt</h1>
    </div>
    <div>
        <a th:href="@{/makemywishcometrue/homeView}" class="icon-link">
            <img src="/icons/home.jpg" alt="Home" class="icon-image">
        </a>
        <a th:href="@{/makemywishcometrue/createAccountPage}" class="icon-link">
            <img src="/icons/createuser.png" alt="CreateAccount" class="icon-image">
        </a>
        <a th:href="@{/makemywishcometrue/loginPage}" class="icon-link">
            <img src="/icons/login.png" alt="Login" class="icon-image">
        </a>
    </div>
</header>
<profile>

</profile>
<main>
    <div class="forsideContainer">
        <div class="forside-tekst-container">
            <p class="forside-tekst">Lav din egen ønskeliste, vis den til familie og venner</p>
            <p class="forside-tekst">og få præcis de gaver, du ønsker dig.</p>
            <p class="forside-tekst">Perfekt til alle anledninger!</p>
        </div>
        <div>
            <img src="/images/makemywishcometrue.png" alt="Wishlist" class="wishlist-image">
        </div>
    </div>
</main>
<footer class="footer">
    <div>
        <p><Strong>Kontakt os her</Strong></p>
        <p>Email: <a href="#">teamMMMD@failmail.dk</a></p>
        <p>Mobil: <a href="#">+45 xxxxxxxx</a></p>
        <p>&copy; 2024 Ønskeskyprojekt -</p>
        <p>TeamMMMD (Mark, Martin, Mette, Daniel)</p>
    </div>
    <div class="brand-image-container">
        <img src="/images/adidas.webp" alt="adidas" class="brand-image">
        <img src="/images/lego.png" alt="lego" class="brand-image">
        <img src="/images/nike.jpg" alt="nike" class="brand-image">
        <img src="/images/victor.png" alt="victor" class="brand-image">
        <img src="/images/yonex.jpg" alt="yonex" class="brand-image">
        <img src="/images/lining.png" alt="yonex" class="brand-image">
    </div>
</footer>
</body>
</html>