<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>LOGIN</h2>
<div th:if="${invalidUserNameErr}">
    <p th:text="${invalidUserNameErr}" style="color: red;">
</p>
</div>
<div th:if="${errorMessage}" class="error"> <!-- Fejlbesked, hvis login failer -->
    <p th:text="${errorMessage}" style="color: red;"></p>
</div>
<form action="/loginValidation" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for ="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
</form>
<a th:href="@{createAccountPage}"><button type="submit">Create Account</button></a><br>
<a th:href="@{showResetPasswordPage}"><button type="submit">Reset Password</button></a>

</body>
</html>