<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/wishlist.css">
</head>
<body>
<header>
<h2>LOGIN</h2>
</header>
<profile>

</profile>
<main>
<div th:if="${invalidUserNameErr}">
    <p th:text="${invalidUserNameErr}" style="color: red;">
</p>
</div>
<div th:if="${errorMessage}" class="error"> <!-- Fejlbesked, hvis login failer -->
    <p th:text="${errorMessage}" style="color: red;"></p>
</div>
<form action="/makemywishcometrue/loginValidation" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for ="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
</form>
<a th:href="@{/makemywishcometrue/createAccountPage}"><button type="submit">Create Account</button></a><br>
<a th:href="@{/makemywishcometrue/showResetPasswordPage}"><button type="submit">Reset Password</button></a>
</main>
<footer>
    <div>
    <p><Strong>Kontakt os her</Strong></p>
    <p>Email: <a href="#">teamMMMD@failmail.dk</a></p>
    <p>Mobil: <a href="#">+45 xxxxxxxx</a></p>
    <p>&copy; 2024 Ønskeskyprojekt - TeamMMMD (Mark, Martin, Mette, Daniel)</p>
    </div>
    >
    <div>
        <img src="/images/mmmm.jpg" alt="brandimage" class="brand-image">
    </div>
</footer>
</body>
</html>