<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <link rel="stylesheet" href="/wishlist.css">
</head>
<body>
<header class="header">
    <div>
        <h1>Ønskesky Projekt</h1>
    </div>
    <div>
        <a th:href="@{/makemywishcometrue/homeView}" class="icon-link">
            <img src="/icons/home.jpg" alt="Home" class="icon-image">
        </a>
        <a th:href="@{/makemywishcometrue/{userID}" class="icon-link">
            <img src="/icons/profile.jpg" alt="Profile" class="icon-image">
        </a>
        <a th:href="@{/makemywishcometrue/createAccountPage}" class="icon-link">
            <img src="/icons/createuser.png" alt="CreateAccount" class="icon-image">
        </a>
        <a th:href="@{/makemywishcometrue/loginPage}" class="icon-link">
            <img src="/icons/login.png" alt="Login" class="icon-image">
        </a>
    </div>
</header>
<profile>
    <p>KAN PROFIL INDSÆTTES HER?</p>
</profile>
<main>
    <div class="loginBilledeContainer">
        <div class="loginField">
            <h2>Reset your password</h2>
            <div th:if="${PasswordErr93}">
                <p th:text="${PasswordErr93}" style="color: red;">
                </p>
            </div>
            <form action="resetPassword" method="post">

                <label class="usernamePasswordText" for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label class="usernamePasswordText" for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <input type="checkbox" id="goodUser" required>
                <label for="goodUser">I acknowledge that I am not a malign user and the username I have typed belongs to
                    me.</label><br>
                <button class="createResetPasswordButton" type="submit">Change password</button>
                <br>
                <a th:href="@{/makemywishcometrue/loginPage}">
                    <button class="createResetPasswordButton" type="button">Go Back</button>
                </a>
            </form>
        </div>
        <div>
            <img src="/images/makemywishcometrue.png" alt="Wishlist" class="wishlist-image">
        </div>
    </div>
</main>
<footer class="footer">
    <div>
        <p><Strong>Kontakt os her</Strong></p>
        <p>Email: <a href="#">teamMMMD@failmail.dk</a></p>
        <p>Mobil: <a href="#">+45 xxxxxxxx</a></p>
        <p>&copy; 2024 Ønskeskyprojekt -</p>
        <p>TeamMMMD (Mark, Martin, Mette, Daniel)</p>
    </div>
    <div class="brand-image-container">
        <img src="/images/adidas.webp" alt="adidas" class="brand-image">
        <img src="/images/lego.png" alt="lego" class="brand-image">
        <img src="/images/nike.jpg" alt="nike" class="brand-image">
        <img src="/images/victor.png" alt="victor" class="brand-image">
        <img src="/images/yonex.jpg" alt="yonex" class="brand-image">
        <img src="/images/lining.png" alt="yonex" class="brand-image">
    </div>
</footer>
</body>
</html>