<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Your Password</title>
</head>
<body>
<h1>Reset your password.</h1>
<div th:if="${PasswordErr93}">
    <p th:text="${PasswordErr93}" style="color: red;">
    </p>
</div>
<form action="resetPassword" method="post">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="New Password" required>
    <br>

    <input type="checkbox" id="goodUser" required>
    <label for="goodUser">I acknowledge that I am not a malign user and the username I have typed belongs to me.</label><br>
    <button type="submit">Change password</button>
    <a th:href="@{userProfileHomePage}">Go Back</a>
</form>
</body>
</html>