<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org">
<!--her angives at vi arbejder med thymeleaf og prefix th skal anvendes, når der skal kaldes attributter-->

<head>
    <meta charset="UTF-8">
    <title>wishListView</title>
</head>
<body>
<header>
    <h1>Wishes on the list</h1>
    <h2 th:text="${wishListName}"></h2>
</header>
<main>

    <table>
        <thead>
        <tr><!-- tr betyder en række af celler i en tabel-->
            <th class="teksttabel">Wish</th> <!-- th angiver indhold af hver celle i øverste række af tabellen-->
            <th class="teksttabel">Description</th>
            <th class="teksttabel">Link</th>
            <th class="teksttabel">Functions</th>
        </tr>
        </thead>
        <tbody class="teksttabel" th:each="wish : ${listOfWishes}">
        <tr><!-- her kommer næste række i tabellen-->
            <td th:text="${wish.getWishName()}"></td> <!-- td angiver indhold af hver celle-->
            <td th:text="${wish.getDescription()}"></td> <!-- td angiver indhold af hver celle-->
            <td>
            <a th:href="${wish.getLink()}" target="_blank" th:text="${wish.getLink()}"></a>
            </td> <!-- anker-tag a gør linket klikbart. target _blank gør at linket åbnes på ny fane-->
            <td>
                <form th:action="@{/makemywishcometrue/deleteWish/{userid}/{wishid}(userid=${userID},wishid=${wish.wishID})}"
                      method="post" onsubmit="return confirmDeletion()">
                    <button type="submit" class="submitbutton">Slet</button>
                </form>
                <script>
                    function confirmDeletion() {
                        return confirm("Are you sure you want to delete this wish? This action cannot be reversed.")
                    }
                </script>
            </td>
        </tr>
        </tbody>
    </table>
    <!--Nedenfor en tilbage knap som udgangspunkt til en homepage. -->
    <a th:href="@{/makemywishcometrue/{userID} (userID=${userID})}">
        <button type="button">Go Back</button>
    </a>
</main>
</body>
</html>