<!DOCTYPE html>
<html lang="en"
xmlns:th="https://thymeleaf.org">
<!--her angives at vi arbejder med thymeleaf og prefix th skal anvendes, når der skal kaldes attributter-->

<head>
    <meta charset="UTF-8">
    <title>wishListView</title>
</head>
<body>
<header>
<h1>Wishlist</h1>
</header>
<main>

    <table>
        <thead>
        <tr><!-- tr betyder en række af celler i en tabel-->
            <th class="teksttabel">WishList</th> <!-- th angiver indhold af hver celle i øverste række af tabellen-->
            <th class="teksttabel">Expiry Date</th>
            <th class="teksttabel">Funktioner</th>
        </tr>
        </thead>
        <tbody class="teksttabel" th:each="wishlist : ${listOfWishLists}">
        <tr><!-- her kommer næste række i tabellen-->
            <td th:text="${wishlist.getListName()}"></td> <!-- td angiver indhold af hver celle-->
            <td th:text="${wishlist.getExpireDate()}"></td> <!-- td angiver indhold af hver celle-->
        <td>
            <form th:action="@{profilehomepage/{userID}/{wishListID}}" method=get>
                <button type="submit" class="viewWishes">View Wish</button>
            </form>
        </td>
        </tr>
        </tbody>
    </table>

</main>
</body>
</html>