<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org">
<!--her angives at vi arbejder med thymeleaf og prefix th skal anvendes, når der skal kaldes attributter-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--denne meta-tag sørger for reponsiv visning. Ved at sætte bredde lig med device bredde
    sikres det at bredden af visning bliver det samme som bredden af skærmen. Initial-scale settingen sørger for, at siden ikke starter zoomet ind eller ud, men starter
    i oprindelig skala i forhold til enhedens skærmopløsning.-->
    <title>wishListView</title>
    <link rel="stylesheet" href="/wishlist.css">
</head>
<body>
<header>
    <div>
    <h1>Wishes on the list</h1>
    </div>
    <div>
        <a th:href="@{/makemywishcometrue/homeView}" class="icon-link">
            <img src="/icons/home.jpg" alt="Home" class="icon-image">
        </a>
        <a href="#" class="icon-link">
            <img src="/icons/profile.jpg" alt="Home" class="icon-image">
        </a>
        <a href="#" class="icon-link">
            <img src="/icons/wishlist.jpg" alt="Home" class="icon-image">
        </a>
    </div>
</header>
<profile>
<p>KAN PROFIL INDSÆTTES HER?</p>
</profile>
<main>
    <h3 th:text="${wishListName}"></h3>
    <a th:href="@{/makemywishcometrue/{userID}/{wishListID}/createWish(userID=${userID}, wishListID=${wishListID})}">
        <button type="button">Create new wish</button>
    </a>
    <table>
        <thead>
        <tr><!-- tr betyder en række af celler i en tabel-->
            <th class="teksttabel">Wish</th> <!-- th angiver indhold af hver celle i øverste række af tabellen-->
            <th class="teksttabel">Description</th>
            <th class="teksttabel">Link</th>
            <th class="teksttabel">Functions</th>
        </tr>
        </thead>
        <tbody class="teksttabel" th:each="wish : ${listOfWishes}">
        <tr><!-- her kommer næste række i tabellen-->
            <td th:text="${wish.getWishName()}"></td> <!-- td angiver indhold af hver celle-->
            <td th:text="${wish.getDescription()}"></td> <!-- td angiver indhold af hver celle-->
            <td>
            <a th:href="${wish.getLink()}" target="_blank" th:text="${wish.getLink()}"></a>
            </td> <!-- anker-tag a gør linket klikbart. target _blank gør at linket åbnes på ny fane-->
            <td>
                <form th:action="@{/makemywishcometrue/deleteWish/{userid}/{wishid}(userid=${userID},wishid=${wish.wishID})}"
                      method="post" onsubmit="return confirmDeletion()">
                    <button class="createResetPasswordButton" type="submit">Delete</button>
                </form>
                <script>
                    function confirmDeletion() {
                        return confirm("Are you sure you want to delete this wish? This action cannot be reversed.")
                    }
                </script>
            </td>
        </tr>
        </tbody>
    </table>
    <!--Nedenfor en tilbage knap som udgangspunkt til en homepage. -->
    <a th:href="@{/makemywishcometrue/{userID} (userID=${userID})}">
        <button class="createResetPasswordButton" type="button">Go Back</button>
    </a>
</main>
<footer class="footer">
    <div>
        <p><Strong>Kontakt os her</Strong></p>
        <p>Email: <a href="#">teamMMMD@failmail.dk</a></p>
        <p>Mobil: <a href="#">+45 xxxxxxxx</a></p>
        <p>&copy; 2024 Ønskeskyprojekt -</p>
        <p>TeamMMMD (Mark, Martin, Mette, Daniel)</p>
    </div>
    <div class="brand-image-container">
        <img src="/images/adidas.webp" alt="adidas" class="brand-image">
        <img src="/images/lego.png" alt="lego" class="brand-image">
        <img src="/images/nike.jpg" alt="nike" class="brand-image">
        <img src="/images/victor.png" alt="victor" class="brand-image">
        <img src="/images/yonex.jpg" alt="yonex" class="brand-image">
        <img src="/images/lining.png" alt="yonex" class="brand-image">
    </div>
</footer>
</body>
</html>